<!---homepage-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hrishi's Blog</title>
    <link rel="stylesheet" href="/css/home.css" >
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="top-row">
        <img src="images/IMG_E9282.JPG" alt="Profile Picture">
        <div class="top-text">
            <h1>Hrishi's Blog</h1>
        </div>
    </div>
    <div class="recent-posts">
        <h2>RECENT POSTS</h2>
        <% if (blogs.length > 0) { %>
            <% for (let i = 0; i < Math.min(3, blogs.length); i++) { %>
                <div class="post-card">
                    <a href="/blog/<%= blogs[i]._id %>" class="post-title"><%= blogs[i].title %></a>
                    <p class="post-date">
                        <%= new Date(blogs[i].createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %>
                    </p>
                </div>
            <% } %>
            <a href="/blogs" class="show-more">Show more</a>
        <% } else { %>
            <p>No blogs found</p>
        <% } %>
    </div>

    <!-- Blogs I Like Section -->
    <div class="hrishi-list">
        <h2>BLOGS I LIKE</h2>
        <% if (likes.length > 0) { %>
            <% for (let i = 0; i < Math.min(3, likes.length); i++) { %>
                <div class="post-card">
                    <a href="/like/<%= likes[i]._id %>" class="post-title"><%= likes[i].title %></a>
                    <p class="post-date">
                        <%= new Date(likes[i].createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %>
                    </p>
                </div>
            <% } %>
            <a href="/likes" class="show-more">Show more</a>
        <% } else { %>
            <p>No blogs found</p>
        <% } %>
    </div>
</body>
</html>